@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Megrim&family=Sedgwick+Ave&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  background: #191920 no-repeat center top;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
}
.nav-bar ul {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background: rgba(18, 18, 18, 0.5);
  box-shadow: 0 2px 4px rgba(1, 1, 1, 0.5);
  min-height: 50px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-column-align: center;
  /* justify-content: space-evenly; */
  z-index: 1;
  text-align: center;
}
.nav-bar li {
  display: flex;
  justify-content: center;
}
.nav-bar a {
  flex: 1;
  color: #ffffff;
  font-size: 1.8em;
  width: max-content;
  height: 100%;
  text-decoration: none;
  padding: 10px 20px;
}
.nav-bar a:active,
.nav-bar a:hover {
  background: rgba(148, 90, 195, 0.4);
  /* border-radius: 14px; */
  /* padding-bottom: 2px; */
  border-bottom: 1px #fff solid;
}

.divisor-menu-content {
  display: flex;
  flex-grow: 1;
  flex: 2;
  margin: 80px 150px;
}

.main-content {
  box-shadow: 0 2px 4px rgba(1, 1, 1, 0.5);
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0 30px;
  margin-bottom: 5em;
}
.main-content .content {
  background: rgba(18, 18, 18, 0.5);
}
.main-content h1,
.main-content h2 {
  background: rgba(148, 90, 195, 0.1);
  color: #fff;
  padding: 0.5em 0.5em;
}
.content {
  padding: 2em 3em;
  display: flex;
  flex: 1;
  flex-direction: column;
  color: #999;
  font-size: 1.4em;
}
.content h1 {
  margin-top: 1em;
  font-family: "Sedgwick Ave", cursive;
  font-size: 3em;
}
.content h2 {
  margin-top: 1em;
  font-family: "Megrim", cursive;
}
.content h1,
.content h2 {
  color: #cccccc;
  background: 0;
  padding: 0px;
  text-align: center;
}
.content h3 {
  margin: 1em 0;
}
.content ul {
  margin-left: 20px;
}
.content a {
  color: rgba(148, 90, 195);
  text-align: center;
  text-decoration: none;
}
.image-transform {
  align-self: center;
  background: rgba(1, 0, 0, 1);
  border: 3px solid #cccccc;
  border-radius: 50%;
  max-height: 300px;
  max-width: 300px;
  margin-top: 20px;

  overflow: hidden;
  transition: all 0.8s;
}
.image-transform img {
  overflow: hidden;
  position: static;
  max-width: 350px;

  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.image-transform:active img,
.image-transform:hover img {
  object-fit: cover;
  transform: scale(1.3);
}
.image-transform:hover {
  border-radius: 5%;
  position: relative;
}

/* Galery */
.galery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-self: center;
  gap: 10px;
}
.galery img {
  width: 100%;
  height: 200px;
}
.galery a {
  color: rgba(148, 90, 195);
  text-align: center;
  text-decoration: none;
}

.around-image {
  overflow: hidden;
}
.around-image img {
  object-position: center;
  object-fit: cover;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}

.around-image img:active,
.around-image img:hover {
  transform: scale(0.9);
}

/* footer bar */
.footer-bar {
  padding: 20px 50px;
  background: rgba(148, 90, 195, 0.1);
  box-shadow: 0 2px 4px rgba(1, 1, 1, 0.5);
  min-width: 100vw;
  margin: 50px 0 0 0;
  color: #cccccc;
}
.footer-divisor {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
}

.footer-icon-links {
  width: 50%;
  list-style: none;
  border-right: 0.5px #ccc solid;
  margin-right: 5px;
}
.footer-icon-links a {
  text-decoration: none;
}
.footer-icon-links .icon {
  max-width: 30px;
}
.footer-list {
  border-left: 0.5px #ccc solid;
  padding-left: 30px;
  list-style-type: square;
  width: 50%;
  /* font-size: 15em; */
}
.footer-list h2 {
  text-decoration: underline;
}
.footer-bottom {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-bottom #my-name {
  color: whitesmoke;
  font-size: 2.5em;
  font-family: "Sedgwick Ave", cursive;
}
.footer-bottom-icons {
  display: grid;
  grid-template-columns: repeat(4, 30px);
  column-gap: 15px;
  flex-direction: row;
  margin-right: 20px;
}
.footer-bottom-icons a > img {
  max-width: 30px;
}
.buttom-top {
  width: 80px;
  height: 80px;
  position: fixed;
  right: 4%;
  bottom: 10%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
.buttom-top a {
  border-radius: 50%;
  color: whitesmoke;
}
.buttom-top img {
  box-shadow: 0 2px 4px rgba(1, 1, 1, 0.2);
  border-radius: 50%;
  background: rgba(148, 90, 195);
  width: 80px;
  height: 80px;
  transform: rotateZ(90deg);
}
.buttom-top a img:active,
.buttom-top a img:hover {
  background: rgba(148, 90, 195, 0.6);
}
/* CONFIGURAÇÔES DE RESPONSIVIDADE */
@media (max-width: 1115px) {
  .divisor-menu-content {
    margin: 80px 0px;
  }
  .content {
    padding: 15px 10px;
  }
  .galery {
    grid-template-columns: repeat(2, 1fr);
  }
  .galery img {
    width: 350px;
    height: 280px;
  }
}
@media (max-width: 740px) {
  .galery {
    grid-template-columns: 1fr;
  }
  .galery img {
    width: 400px;
    height: 300px;
  }
  .around-image {
    width: min-content;
    height: min-content;
  }
}
@media (max-width: 660px) {
  .buttom-top,
  .buttom-top a,
  .buttom-top img {
    width: 50px;
    height: 50px;
  }
  .footer-bar #follow-me {
    display: none;
  }
  .footer-divisor .footer-icon-links {
    display: none;
  }
  .footer-bottom #my-name {
    font-size: 1.5em;
  }
}
@media (max-width: 480px) {
  .image-transform {
    max-width: 200px;
    max-height: 200px;
  }
  .galery img {
    width: 300px;
    height: 250px;
    align-self: center;
    justify-content: center;
  }
  .footer-divisor {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .footer-bottom #my-name {
    display: none;
  }
}
@media (max-width: 400px) {
  .nav-bar a {
    font-size: 1.4em;
    padding: 10px 0;
  }
  .galery img {
    width: 250px;
    height: 200px;
    text-align: center;
  }
  .main-content {
    margin: auto 0px;
  }
}
